.hr-mangment,
.hr-mangment * {
  box-sizing: border-box;
}
.hr-mangment {
  background: #e3edf9;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.hr-mangment .rectangle-108 {
  background: #ffffff;
  width: 1440px;
  height: 69px;
  position: absolute;
  left: 0px;
  top: 4px;
}
.hr-mangment .rectangle-4 {
  border-radius: 0px;
  width: 671px;
  height: 41px;
  position: absolute;
  left: 273px;
  top: 13px;
  overflow: visible;
}
.hr-mangment .icon {
  width: 1.67%;
  height: 2.15%;
  position: absolute;
  right: 74.86%;
  left: 23.47%;
  bottom: 95.7%;
  top: 2.15%;
  overflow: visible;
}
.hr-mangment .employee-reports {
  color: var(--schemes-on-surface-variant, #49454f);
  text-align: left;
  font-family: var(--m3-body-large-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-large-font-size, 16px);
  line-height: var(--m3-body-large-line-height, 24px);
  letter-spacing: var(--m3-body-large-letter-spacing, 0.5px);
  font-weight: var(--m3-body-large-font-weight, 400);
  opacity: 0.94;
  position: absolute;
  left: 511px;
  top: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hr-mangment .dashboard {
  color: #253d90;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 71px;
  top: 9px;
  width: 242px;
  height: 30px;
}
.hr-mangment .group-28 {
  position: absolute;
  inset: 0;
}
.hr-mangment .group-3 {
  width: 35.93px;
  height: 32px;
  position: static;
}
.hr-mangment .ellipse-4 {
  background: #253d90;
  border-radius: 50%;
  width: 35.93px;
  height: 32px;
  position: absolute;
  left: 1130px;
  top: 14px;
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.1);
}
.hr-mangment .bell {
  width: 18.98px;
  height: 16.91px;
  position: absolute;
  left: 1138.81px;
  top: 21.25px;
  overflow: visible;
}
.hr-mangment .ellipse-42 {
  background: #ff0000;
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 14.24px;
  height: 12.68px;
  position: absolute;
  left: 1155.76px;
  top: 15.21px;
  box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.25);
}
.hr-mangment ._13 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 8px;
  font-weight: 700;
  position: absolute;
  left: 1158.94px;
  top: 16.74px;
  width: 10.21px;
  height: 5.49px;
}
.hr-mangment .group-29 {
  position: absolute;
  inset: 0;
}
.hr-mangment .ellipse-2 {
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  width: 54px;
  height: 54px;
  position: absolute;
  left: 1586px;
  top: 42px;
}
.hr-mangment .group-1 {
  width: 40px;
  height: 32px;
  position: static;
}
.hr-mangment .ellipse-1 {
  background: #ffc20e;
  border-radius: 50%;
  width: 40px;
  height: 32px;
  position: absolute;
  left: 1215px;
  top: 13px;
}
.hr-mangment .dp-1 {
  border-radius: 47px;
  width: 38.4px;
  height: 30.72px;
  position: absolute;
  left: 1215.8px;
  top: 14.28px;
  object-fit: cover;
}
.hr-mangment .rectangle-124 {
  background: #ffffff;
  border-radius: 30px;
  width: 166px;
  height: 60px;
  position: absolute;
  left: 1446px;
  top: 594px;
  box-shadow: 4px 4px 13px 2px rgba(0, 0, 0, 0.15);
}
.hr-mangment .events {
  color: #1d1d1d;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 1462px;
  top: 609px;
  width: 138px;
  height: 30px;
}
.hr-mangment .group-263 {
  position: absolute;
  inset: 0;
}
.hr-mangment .ellipse-51 {
  background: #e10000;
  border-radius: 50%;
  width: 40px;
  height: 32px;
  position: absolute;
  left: 1303px;
  top: 13px;
}
.hr-mangment .frame-26 {
  background: #ffffff;
  border-radius: var(--corner-small, 8px);
  width: 646px;
  height: 351px;
  position: absolute;
  left: 416px;
  top: 644px;
  overflow: hidden;
}
.hr-mangment .ellipse-38 {
  width: 158px;
  height: 151px;
  position: absolute;
  left: 231px;
  top: 80px;
  overflow: visible;
}
.hr-mangment .jan {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 55px;
  top: 273px;
}
.hr-mangment .feb {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 98px;
  top: 273px;
}
.hr-mangment .mar {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 136px;
  top: 274px;
}
.hr-mangment .may {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 216px;
  top: 273px;
}
.hr-mangment .apr {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 178px;
  top: 273px;
}
.hr-mangment .jun {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 264px;
  top: 273px;
}
.hr-mangment .jul {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 309px;
  top: 273px;
}
.hr-mangment .agu {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 346px;
  top: 273px;
}
.hr-mangment .sep {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 388px;
  top: 273px;
}
.hr-mangment .oct {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 427px;
  top: 273px;
}
.hr-mangment ._40 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 4px;
  top: 83px;
}
.hr-mangment .ellipse-39 {
  background: #03f820;
  border-radius: 50%;
  width: 9px;
  height: 8px;
  position: absolute;
  left: 59px;
  top: 252px;
}
.hr-mangment .ellipse-40 {
  background: #03f820;
  border-radius: 50%;
  width: 9px;
  height: 8px;
  position: absolute;
  left: 100px;
  top: 242px;
}
.hr-mangment .ellipse-41 {
  background: #03f820;
  border-radius: 50%;
  width: 9px;
  height: 8px;
  position: absolute;
  left: 141px;
  top: 229px;
}
.hr-mangment .ellipse-422 {
  background: #f81c03;
  border-radius: 50%;
  width: 9px;
  height: 8px;
  position: absolute;
  left: 183px;
  top: 176px;
}
.hr-mangment .ellipse-43 {
  background: #03f820;
  border-radius: 50%;
  width: 9px;
  height: 8px;
  position: absolute;
  left: 225px;
  top: 266px;
}
.hr-mangment .ellipse-45 {
  width: 9px;
  height: 8px;
  position: absolute;
  left: 266px;
  top: 176px;
  overflow: visible;
}
.hr-mangment ._10 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 6px;
  top: 225px;
}
.hr-mangment ._20 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 5px;
  top: 175px;
}
.hr-mangment ._30 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 8px;
  top: 129px;
}
.hr-mangment .line-22 {
  width: 40.11px;
  height: 7.64px;
  position: absolute;
  left: 64.79px;
  top: 255.54px;
  transform: translate(-0.12px, -10.03px);
  overflow: visible;
}
.hr-mangment .line-23 {
  margin-top: -1px;
  border-style: solid;
  border-color: #4be440;
  border-width: 1px 0 0 0;
  width: 43.97px;
  height: 0px;
  position: absolute;
  left: 104px;
  top: 246px;
  transform-origin: 0 0;
  transform: rotate(-17.199deg) scale(1, 1);
}
.hr-mangment .line-24 {
  margin-top: -1px;
  border-style: solid;
  border-color: #e82f2f;
  border-width: 1px 0 0 0;
  width: 69.2px;
  height: 0px;
  position: absolute;
  left: 145px;
  top: 235px;
  transform-origin: 0 0;
  transform: rotate(-52.633deg) scale(1, 1);
}
.hr-mangment .line-25 {
  margin-top: -1px;
  border-style: solid;
  border-color: #52e000;
  border-width: 1px 0 0 0;
  width: 95.71px;
  height: 0px;
  position: absolute;
  left: 187px;
  top: 180px;
  transform-origin: 0 0;
  transform: rotate(63.97deg) scale(1, 1);
}
.hr-mangment .line-26 {
  margin-top: -1px;
  border-style: solid;
  border-color: #e1131b;
  border-width: 1px 0 0 0;
  width: 96.66px;
  height: 0px;
  position: absolute;
  left: 230px;
  top: 268px;
  transform-origin: 0 0;
  transform: rotate(-65.556deg) scale(1, 1);
}
.hr-mangment .line-27 {
  margin-top: -1px;
  border-style: solid;
  border-color: #58c419;
  border-width: 1px 0 0 0;
  width: 87.71px;
  height: 0px;
  position: absolute;
  left: 271px;
  top: 180px;
  transform-origin: 0 0;
  transform: rotate(61.39deg) scale(1, 1);
}
.hr-mangment .attrition-rate {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  letter-spacing: 0.01em;
  font-weight: 700;
  position: absolute;
  left: 24px;
  top: 12px;
  width: 192px;
  height: 45px;
}
.hr-mangment .bar-chart {
  height: auto;
  position: absolute;
  left: 20px;
  top: 85px;
  overflow: visible;
}
.hr-mangment .nov {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 479px;
  top: 273px;
}
.hr-mangment .dec {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 524px;
  top: 278px;
}
.hr-mangment .frame-22 {
  background: rgba(175, 175, 175, 0.2);
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 87px;
  position: absolute;
  left: 522px;
  top: 12px;
}
.hr-mangment .view-details {
  color: #5c5c5c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.hr-mangment .text {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 267px;
  top: 29px;
}
.hr-mangment .group-10 {
  position: absolute;
  inset: 0;
}
.hr-mangment .rectangle-32 {
  background: #ffc20e;
  border-radius: 5px;
  width: 209px;
  height: 116px;
  position: absolute;
  left: 289px;
  top: 201px;
  box-shadow: 11px 4px 14px 0px rgba(0, 0, 0, 0.12);
  transform-origin: 0 0;
  transform: rotate(-180deg) scale(1, 1);
}
.hr-mangment ._1200 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 164.76px;
  top: 128.89px;
  width: 91.24px;
  height: 29px;
}
.hr-mangment .total-employees {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 159.59px;
  top: 100.68px;
  width: 122.94px;
  height: 21.16px;
}
.hr-mangment .user-alt {
  border-radius: 5px;
  width: 53.71px;
  height: 65.05px;
  position: absolute;
  left: 101.35px;
  top: 110.86px;
  overflow: visible;
}
.hr-mangment .group-7 {
  position: absolute;
  inset: 0;
}
.hr-mangment .rectangle-29 {
  background: #253d90;
  border-radius: 5px;
  width: 209px;
  height: 116px;
  position: absolute;
  left: 630px;
  top: 201px;
  box-shadow: 11px 4px 14px 0px rgba(0, 0, 0, 0.12);
  transform-origin: 0 0;
  transform: rotate(-180deg) scale(1, 1);
}
.hr-mangment ._5 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 537px;
  top: 142px;
  width: 63.44px;
  height: 21.38px;
}
.hr-mangment .jobs {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 527px;
  top: 105px;
  width: 80px;
  height: 20px;
}
.hr-mangment .vector {
  border-radius: 0px;
  width: 3.68%;
  height: 5.47%;
  position: absolute;
  right: 64.08%;
  left: 32.23%;
  bottom: 83.33%;
  top: 11.19%;
  overflow: visible;
}
.hr-mangment .envelope {
  background: rgba(0, 0, 0, 0);
  border-radius: 5px;
  width: 14.55px;
  height: 17.56px;
  position: absolute;
  left: 489.73px;
  top: 112.43px;
  overflow: hidden;
}
.hr-mangment .menu-instance {
  width: 53px !important;
  height: 40px !important;
  position: absolute !important;
  left: 7px !important;
  top: 10px !important;
}
.hr-mangment .bar-chart2 {
  position: absolute;
  inset: 0;
}
.hr-mangment .bg {
  width: 646px;
  height: 381px;
  position: absolute;
  left: 761px;
  top: 241px;
  overflow: visible;
}
.hr-mangment .it {
  color: #6a707e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 883.72px;
  top: 584.53px;
  width: 33.88px;
  height: 14.32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hr-mangment .numbers {
  width: 46.81px;
  height: 249.29px;
  position: static;
}
.hr-mangment ._150 {
  color: #6a707e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 831.02px;
  top: 326.91px;
  width: 45.96px;
  height: 14.14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hr-mangment ._100 {
  color: #6a707e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 831.02px;
  top: 386.13px;
  width: 46.81px;
  height: 14.14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hr-mangment ._50 {
  color: #6a707e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 831.02px;
  top: 444.48px;
  width: 40.85px;
  height: 14.14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hr-mangment ._102 {
  color: #6a707e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 831.02px;
  top: 503.71px;
  width: 38.3px;
  height: 14.14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hr-mangment ._0 {
  color: #6a707e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 831.88px;
  top: 562.05px;
  width: 32.34px;
  height: 14.14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hr-mangment .line {
  width: 542.16px;
  height: 238.68px;
  position: absolute;
  left: 864.22px;
  top: 329.56px;
  overflow: visible;
}
.hr-mangment .years {
  width: 352.18px;
  height: 16.23px;
  position: static;
}
.hr-mangment ._2010 {
  color: #6a707e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 947.97px;
  top: 582.62px;
  width: 89.95px;
  height: 14.32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hr-mangment ._2011 {
  color: #6a707e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 1072.5px;
  top: 584.15px;
  width: 50.47px;
  height: 14.14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hr-mangment ._2012 {
  color: #6a707e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 1146.56px;
  top: 584.53px;
  width: 67.75px;
  height: 14.32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hr-mangment ._2013 {
  color: #6a707e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 1247.03px;
  top: 583.57px;
  width: 53.12px;
  height: 14.14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hr-mangment .bar {
  width: 423.69px;
  height: 134.05px;
  position: absolute;
  left: 872.04px;
  top: 433.65px;
  overflow: visible;
}
.hr-mangment .employee-gaps-by-department {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  line-height: 54px;
  font-weight: 700;
  position: absolute;
  left: 811px;
  top: 242px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hr-mangment .arrow-7 {
  width: 21px;
  height: 0px;
  position: absolute;
  left: 1360px;
  top: 274px;
  transform: translate(0px, -7.36px);
  overflow: visible;
}
.hr-mangment .bg2 {
  width: 646px;
  height: 381px;
  position: absolute;
  left: 35px;
  top: 242px;
  overflow: visible;
}
.hr-mangment ._1502 {
  color: #6a707e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 79.26px;
  top: 310.95px;
  width: 45.96px;
  height: 14.14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hr-mangment ._1002 {
  color: #6a707e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 79.26px;
  top: 370.18px;
  width: 46.81px;
  height: 14.14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hr-mangment ._502 {
  color: #6a707e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 79.26px;
  top: 428.52px;
  width: 40.85px;
  height: 14.14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hr-mangment ._103 {
  color: #6a707e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 79.26px;
  top: 487.75px;
  width: 38.3px;
  height: 14.14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hr-mangment ._02 {
  color: #6a707e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 80.11px;
  top: 546.09px;
  width: 32.34px;
  height: 14.14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hr-mangment .line2 {
  width: 542.16px;
  height: 238.68px;
  position: absolute;
  left: 112.45px;
  top: 313.6px;
  overflow: visible;
}
.hr-mangment .bar2 {
  width: 507.94px;
  height: 194.62px;
  position: absolute;
  left: 126.92px;
  top: 357.77px;
  overflow: visible;
}
.hr-mangment ._3-months {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  opacity: 0.5;
  position: absolute;
  left: 388.39px;
  top: 262.96px;
  width: 104.67px;
  height: 15.97px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hr-mangment .promotions {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 538.07px;
  top: 265.95px;
  width: 96.79px;
  height: 15.97px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hr-mangment .exit {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 538.07px;
  top: 287.91px;
  width: 31.51px;
  height: 15.97px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hr-mangment .new-hire {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 538.07px;
  top: 308.87px;
  width: 78.78px;
  height: 15.97px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hr-mangment .work-force-tenders {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 84px;
  top: 251px;
  width: 315px;
  height: 19px;
}
.hr-mangment .ellipse-52 {
  background: #5ed603;
  border-radius: 50%;
  width: 13px;
  height: 12px;
  position: absolute;
  left: 498px;
  top: 268px;
}
.hr-mangment .ellipse-53 {
  background: #ec5a5a;
  border-radius: 50%;
  width: 13px;
  height: 12px;
  position: absolute;
  left: 498px;
  top: 290px;
}
.hr-mangment .ellipse-54 {
  background: #f7fb0e;
  border-radius: 50%;
  width: 13px;
  height: 12px;
  position: absolute;
  left: 498px;
  top: 317px;
}
.hr-mangment .frame-29 {
  background: #0aa43b;
  border-radius: var(--corner-small, 8px);
  width: 209px;
  height: 116px;
  position: absolute;
  left: 770px;
  top: 85px;
  overflow: hidden;
}
.hr-mangment .vuesax-linear-calendar-instance {
  width: 50px !important;
  height: 51.25px !important;
  position: absolute !important;
  left: 7px !important;
  top: 23px !important;
}
.hr-mangment .projects {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 64px;
  top: 31px;
}
.hr-mangment .vertical-line {
  height: auto;
  position: absolute;
  left: 1202.96px;
  top: 459px;
  overflow: visible;
}
.hr-mangment .group-6 {
  position: absolute;
  inset: 0;
}
.hr-mangment .rectangle-28 {
  background: #ffc20e;
  border-radius: 14px;
  width: 209px;
  height: 116px;
  position: absolute;
  left: 1335px;
  top: 200px;
  box-shadow: 11px 4px 14px 0px rgba(0, 0, 0, 0.12);
  transform-origin: 0 0;
  transform: rotate(-180deg) scale(1, 1);
}
.hr-mangment .envelope2 {
  background: rgba(0, 0, 0, 0);
  width: 16.18px;
  height: 18.03px;
  position: absolute;
  left: 1179.06px;
  top: 109.08px;
  overflow: hidden;
}
.hr-mangment .briefcase {
  background: rgba(0, 0, 0, 0);
  width: 16.18px;
  height: 18.03px;
  position: absolute;
  left: 1204.94px;
  top: 181.97px;
  overflow: hidden;
}
.hr-mangment .message-chat-01-instance {
  width: 74px !important;
  height: 74px !important;
  position: absolute !important;
  left: 1138px !important;
  top: 105px !important;
}
.hr-mangment .feed-backs {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1207px;
  top: 130px;
}
.hr-mangment .log-out-instance {
  width: 26px !important;
  height: 21px !important;
  position: absolute !important;
  left: 1313px !important;
  top: 19px !important;
  flex-shrink: unset !important;
}
